body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    justify-content: space-between;
}

.leftMenu {
    font-size: 36px;
    padding-left: 50px;
    padding-top: 45px;
    padding-bottom: 50px;
}

.rightMenu {
    display: flex;
    font-size: 36px;
    color: white;
    padding-right: 50px;
    padding-top: 45px;
    padding-bottom: 50px;
    font-family: Roboto;
}

.site {
    background-image: url("./fone.png");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.punct {
    padding-right: 50px;
}

.description {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 40px;
    font-family: Roboto;
    width: 570px;
    padding: 100px 50px;
    text-align: center;
    margin-top: 100px;
}

.next {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.merch {
    display: flex;
    width: 100%;
    background-image: url("fon.svg");
    height: 200vh;
    background-size: 2%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}


.merchA {
    width: 35%;
    height: 35%;
    background-color: white;
    margin: 50px;
    text-align: center;
    border: 10px double black;
}

.merchText {
    font-size: 96px;
    font-family: 'Roboto';
    width: 100%;
    text-align: center;
    margin: 100px;
}

.merchTextBackground {
    display: inline;
    padding: 20px;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.75);
}

.merchA img {
    height: 100%;

}